body {
    background-color: #f0f0f0;
    font-family:"Arial",sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:   center;
    text-align: center;
    gap: 20px;
    flex-wrap: wrap;
    align-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
}
h2 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: -10px;
    text-align: left;
    margin-top: 20px;
    color:greenyellow;
    text-shadow: 2px 2px 4px green, 1px 2px 3px #0000ff;
}
p{
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 0;
    text-align: left;
    margin-top: 10px;
    text-indent: 20px;
    
}